
/* --- Custom Button ----------------------------------- */
.-button {
    width: 42px;
    height: 42px;
    border-style: solid;
    border-color: var(--border);
    background-color: var(--base);
    font-size: 1.4rem;
    color: var(--text-light);
}

.-button:hover {
    color: var(--activ-ext);
}

.-button:active {
    background-color: var(--activ-base);
}

.material-icons-outlined.iconGrey {
    color: white;
}

.material-icons-outlined.iconGrey:hover {
    color: var(--activ-ext);
}

/* --- Custom checkbox ---------------------------------- */
.chkbox {
    display: flex;
    width: 30px;
    margin: auto;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.chkbox label {
    font-size: 1.4rem;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

.chkbox input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.chkbox .check {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    border: .2rem solid var(--base-light);
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.chkbox input:hover ~ .check {
    border-color: var(--hover-base);
}

.chkbox input:checked ~ .check {
    border-color: var(--activ-ext);
}



