@font-face {
    font-family: 'rounded-light';
    src: url('/fonts/CirceRounded-Light.eot');
    src: url('/fonts/CirceRounded-Light.eot') format('embedded-opentype'),
         url('/fonts/CirceRounded-Light.woff2') format('woff2'),
         url('/fonts/CirceRounded-Light.woff') format('woff'),
         url('/fonts/CirceRounded-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rounded-regular';
    src: url('/fonts/CirceRounded-Regular.eot');
    src: url('/fonts/CirceRounded-Regular.eot') format('embedded-opentype'),
         url('/fonts/CirceRounded-Regular.woff2') format('woff2'),
         url('/fonts/CirceRounded-Regular.woff') format('woff'),
         url('/fonts/CirceRounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rounded-demi';
    src: url('/fonts/CirceRounded-Bold.eot');
    src: url('/fonts/CirceRounded-Bold.eot') format('embedded-opentype'),
         url('/fonts/CirceRounded-Bold.woff2') format('woff2'),
         url('/fonts/CirceRounded-Bold.woff') format('woff'),
         url('/fonts/CirceRounded-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rounded-bold';
    src: url('/fonts/CirceRounded-ExtraBold.eot');
    src: url('/fonts/CirceRounded-ExtraBold') format('embedded-opentype'),
         url('/fonts/CirceRounded-ExtraBold.woff2') format('woff2'),
         url('/fonts/CirceRounded-ExtraBold.woff') format('woff'),
         url('/fonts/CirceRounded-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}